[submodule "libs/StdUi"]
	path = libs/StdUi
	url = https://github.com/Wutname1/StdUi.git
[submodule "libs/oUF"]
	path = libs/oUF
	url = https://github.com/Wutname1/oUF.git
[submodule "libs/LibClassicCasterino"]
	path = libs/LibClassicCasterino
	url = https://github.com/rgd87/LibClassicCasterino.git
[submodule "libs/oUF_QuestMobIndicator"]
	path = libs/oUF_QuestMobIndicator
	url = git@github.com:Wutname1/oUF_QuestMobIndicator.git
